<h1> <%= @user.username %> </h1>

<h2> <%= @user.building.address %> </h2>

<%= link_to("Logout", sessions_path, :method => 'delete') %> <br>

<% if @user.building_id == 1 %>
	<% @buildings.each do |building| %>
		<%= link_to("#{building.address}", building_path(building)) %><br>
	<% end %>
<% else %>
	<%= link_to("#{@user.building.address}", building_path(@user.building)) %>
<% end %>


