<h1> <%= @user.username %> </h1>

<h2> <%= @user.building.address %> </h2>

<div class="building_links">
	<% if @user.building_id == 1 %>
		<div class="new_user">
			<%= link_to "New User", new_user_path %>
		</div>
		<% @buildings.each do |building| %>
			<div class="building_link">
				<%= link_to("#{building.address}", building_path(building)) %><br>
			</div>
		<% end %>
	<% else %>
		<div class="building_link">
			<%= link_to("#{@user.building.address}", building_path(@user.building)) %>
		</div>
	<% end %>
</div>
