<h1> <%= @building.address %> </h1>

<div class="email_pm">
	<%= mail_to "propertymanager@tudorrealty.com", "Contact Property Manager" %>
</div>


<% if @user.building_id == 1 %>
	<div>
		<%= link_to "Admin", building_admin_path %>
	</div>
<% end %>

<% @posts.each do |post| %>
	<div class="post">
		<%= link_to(post.title, controller: "posts", action: "show", id: post.id)%>
		<%= post.created_at.strftime("%B/%d/%Y") %>
	</div>
<% end %>