<div class="nav">
	<div class="left_nav">
		<h1> <%= link_to( "TRS Tenant Portal", root_path, class: "logo" )%> </h1>
	</div>

	<div class="right_nav">
		<% if current_user? %>
			<%= link_to("My Building", controller: "buildings", action: "show", id: @user.building_id)%>
			<%= link_to("My Profile", controller: "users", action: "show", id: @user.id)%>
			<%= link_to("Logout", sessions_path, :method => 'delete') %>
		<% else %>
			<%= link_to("Login", login_path) %>
		<% end %>
	</div>
</div>