<!DOCTYPE html>
<html>
<head>
  <title>TudorConnect</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: "layouts/nav" unless current_page?("/") %>

<div class="content">
	<%= yield %>
</div>

</body>
</html>
